.about-us {
 // background: #0d0d0d;
  color: #fff;

  h2 {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 3.5rem 0

  }

  .about-content {
  width: 80%;
    margin: auto;
    max-width: 1200px;
    margin: auto;
  }

  .about-intro {
  //  width: 90%;
    margin: auto;
    font-size: 1.5rem;
   // text-align: center;
    //margin-bottom: 2rem;
    text-align: justify;
    color: #e8e8e8;

  }

  .about-columns {
    //width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }

  .about-left {
    flex: 1;
    min-width: 280px;

    h3 {
      color: #ffffff;
      margin-top: 1rem;
    }

    ul {
      list-style: disc;
      margin-left: 1.5rem;
      font-size: 1.5rem;
      li{
        margin-block:1rem 
      }
     
    }
  }

  .about-right {
    flex: 1;
    min-width: 280px;
    text-align: center;

    img {
      width: 100%;
      max-width: 800px;
      border-radius: 5px;
      box-shadow: 0 0 10px #222;
    }

    .about-note {
      margin-top: 1rem;
      font-style: italic;
    }
  }
}
@media (max-width: 780px) {
  .about-intro {
    margin: 0 auto;}
    .ul-werte{
      margin-bottom: 0;
    }
}