.cookie-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
  }
  
  .cookie-modal {
    background: #3D4244;
    background: #363C3D;
    background: radial-gradient(circle, rgba(54, 60, 61, 1) 30%, rgba(18, 22, 24, 1)100%  );
     
 border: 1px solid #5d5d5d64;
   max-width: 420px;
    width: 90%;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  }
  
  .cookie-modal h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
  }
  
  .cookie-modal p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .cookie-modal a {
    color: #1a73e8;
    text-decoration: underline;
  }
  
  .cookie-modal button {
    background-color:#a40000;
    color: #ffffff;
    border: none;
    padding: 10px 24px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .cookie-modal button:hover {
    opacity: 0.9;
  }
  