.footer{
    color: grey;
    margin: 1rem;
   
} 
.footer-link-container{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
        width: 40%;
        margin: auto;
       
    }
    .footer-link{
        color: grey;
       text-decoration: none;
       margin-right: 1rem;
    }
    .footer-link:hover{
          color: rgb(152, 152, 152);
        ;
    }