.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #a40000;
    color: white;
    border: none;
   // border-radius: 5px;
   border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
   // display: none;
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
  
  .scroll-to-top:hover {
    background-color: #cc0000;
  }
  