.stats-section {
    background-color: #86868613;
    padding-block: 0.5rem;
    text-align: center;
  }
  
  .stats-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .stats-title {
    font-size: 2.5rem;
   // font-weight: 400;
    margin-bottom: 40px;
    color: #e1e1e1;
  }
  
  .stats-grid {
    margin-bottom: 4rem;
   // padding: 0 1rem 0 1rem;
    background-color: #28282800;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    //gap: 30px;
  }
  
  .stat-box {
   // background: linear-gradient(-45deg, rgba(82, 91, 95, 0) 0%, rgba(38, 47, 53, 0.832) 77%);  
  box-shadow: 7px 10px 15px rgb(27, 29, 32);

    border-radius: 0;
    background-color: #e1e1e11f;
    padding: 30px 20px;
   // border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    // border-right: 2px solid #d30000e5;
    // border-left: 2px solid #d300006a ;
    &.with-border {
      border-right: 2px solid #d30000e5;
  }
}
  // .stat-box:hover {
  //   transform: translateY(-5px);
  // }
  
  .stat-number {
    font-size: 48px;
    font-weight: bold;
    color: #f6f6f6;
  }
  
  .stat-label {
    margin-top: 12px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: #e6e6e6;
  }
  @media (max-width: 480px) {
    .stats-section {
      background-color: #86868613;
      padding-block: 1rem;
      text-align: center;
    }
    
    .stats-container {
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .stats-title {
      font-size: 28px;
      //font-weight: 700;
      margin-bottom:2rem;
      color: #e1e1e1;
    }
    
    .stats-grid {
      width: 100%; // ✅ Ensure it spans full width
      margin-bottom: 3rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr; // ✅ Single column layout
     // gap: 1.5rem;
    }
    
    .stat-box {
      width: 100%;
      
     // background: linear-gradient(-45deg, rgba(82, 91, 95, 0) 0%, rgba(38, 47, 53, 0.832) 77%);  
    box-shadow: 7px 10px 15px rgb(27, 29, 32);
  
      border-radius: 0;
      background-color: #e1e1e12d;
      padding: 30px 20px;
     // border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      transition: transform 0.3s ease;
      // border-right: 2px solid #d30000e5;
      // border-left: 2px solid #d300006a ;
      &.with-border {
        border-bottom: 2px solid #d30000e5;
        border-right: none;
    }
  }
    .stat-box:hover {
      transform: none
    }
    
    .stat-number {
      font-size: 28px;
      font-weight: bold;
      color: #f6f6f6;
    }
    
    .stat-label {
      margin-top: 12px;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      color: #e6e6e6;
    }
  }
  .google-reviews-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    iframe {
      width: 100%;
      height: 180px;
      border: none;
      border-radius: 12px;
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    .stats-section {
      background-color: #86868613;
      padding-block: 1rem;
      text-align: center;
    }
    
    .stats-container {
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .stats-title {
      font-size: 28px;
     // font-weight: 400;
      margin-bottom: 40px;
      color: #e1e1e1;
    }
    
    .stats-grid {
      margin-bottom: 4rem;
      padding: 1rem;
      background-color: #28282800;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      //gap: 30px;
    }
    
    .stat-box {
     // background: linear-gradient(-45deg, rgba(82, 91, 95, 0) 0%, rgba(38, 47, 53, 0.832) 77%);  
    box-shadow: 7px 10px 15px rgb(27, 29, 32);
  
      border-radius: 0;
      background-color: #e1e1e12d;
      padding: 30px 20px;
     // border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      transition: transform 0.3s ease;
      // border-right: 2px solid #d30000e5;
      // border-left: 2px solid #d300006a ;
      &.with-border {
        border-right: 2px solid #d30000e5;
    }
  }
    .stat-box:hover {
      transform: translateY(-5px);
    }
    
    .stat-number {
      font-size: 30px;
      font-weight: bold;
      color: #f6f6f6;
    }
    
    .stat-label {
      margin-top: 12px;
      font-size: 1.2rem;
      letter-spacing: 0.5px;
      color: #e6e6e6;
    }
  }