@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  background: #363C3D;
  background: radial-gradient(circle, rgba(54, 60, 61, 1) 30%, rgba(18, 22, 24, 1)100%  );
  /* background: radial-gradient(
      circle,
      rgba(48, 55, 59, 0.649) 34%,
      rgb(33, 33, 33) 100%
    ),
    url("../src/assets/images/bkg.png"); */

  background-size: cover; /* background-color: #212f30;*/
  /* background: #3D4244;
  background:radial-gradient(circle,rgb(61, 66, 68) 34%,  rgb(28, 33, 34) 100%);
  background: url("https://img.freepik.com/free-photo/photo-background-green-textured-wall-rolling-floor-studio-photography-background-illuminated_1258-82807.jpg?t=st=1723126689~exp=1723130289~hmac=251529de1c42f393d71345c3a92888985e456735ffa927932f18e09dce28508c&w=826"); */
  background-attachment: fixed;
  color: #ffffff;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
}

